body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
<<<<<<< Updated upstream


    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 30vh

}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

p {
color: white;
}

h2 {
  color: #00cc66;
}

h1{
  color: #00cc66;
}

h3 {
  color: #00cc66;
}
h4 {
  color: #404040;
	font-size: 20px;
}

.responsive {
	width: 40%;
	height: auto;
}
section {
 background-color: black;

}

nav a:hover::before {
  width: 100%;
}

p {
color: white;
}

h2 {
  color: #00cc66;
}

h1{
  color: #00cc66;
}

h3 {
  color: #00cc66;
}
h4 {
  color: #404040;
	font-size: 20px;
}

.responsive {
	width: 30%;
	height: auto;
}
img {
	width: 20%;
	height: 30%;
}
main {
	background-color: black;
}
* {
	margin: 6px;
	padding: 3px;
}
.grid {
	display: grid;
	grid-template-columns: 1fr ;
  grid-template-rows: 1fr ;
	grid-template-areas:
	" section1 section1 "
	" section2 section2 "
	" section3 section3 "
	" section4 section4 "
	" section5 section5 ";
}
.section1 {
grid-area: section1;
background-color: #006666;
}
.section2  {
grid-area: section2;
background-color: #006666;
}
.section3  {
grid-area: section3;
background-color: #006666;
}
.section4  {
grid-area: section4;
background-color: #006666;
}
.section5  {
grid-area: section5;
background-color: #006666;
}
